
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}


.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}


        /*Login,Signup*/

        

        *{
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            padding: 0;
        }
        
        
        .form-box{
            
            width: 90%;
            max-width: 450px;
            position: fixed;
            top: -150%;
            opacity: 0;
            left: 50%;
            background: #fff;
            padding: 50px 60px 70px;
            text-align: center;
            transform: translate(-50%, -50%);
            transition: top 0ms ease-in-out 200ms,
                        opacity 200ms ease-in-out 0ms
                        transform 20ms ease-in-out 0ms;
            border-radius: 20px;

        }

        .form-box.active{
            top: 50%;
            opacity: 1;
            transition: top 0ms ease-in-out 200ms,
            opacity 200ms ease-in-out 0ms
            transform 20ms ease-in-out 0ms;
        }
        

         #close-btn{
            position: absolute;
            right: 20px;
            top:15px;
            font-size: 25px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        #close-btn:hover{
            color: #f23434;
        }

        .form-box h1{
            font-size: 30px;
            margin-bottom: 60px;
            color: #f23434;
            position: relative;
        }
        
        .form-box h1::after{
            content: '';
            width: 30px;
            height: 4px;
            border-radius: 3px;
            background: #f23434;
            position: absolute;
            bottom: -12px;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .input-field{
            background: #eaeaea;
            margin: 15px 0;
            border-radius: 3px;
            display: flex;
            align-items: center;
            max-height: 65px;
            transition:  0.3s;
            overflow: hidden;
        }
        
        input{
            width: 100%;
            background: transparent;
            border: 0;
            outline: 0;
            padding: 18px 15px;
        }
        
        .input-field i{
            margin-left: 15px;
            color: #999;
        }
        
        form p{
            text-align: left;
            font-size: 13px;
        }
        
        form p a{
            text-decoration: none;
            color: #f23434;
        }
        
        .btn-field{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        .btn-field button{
            flex-basis: 48%;
            background: #f23434;
            color: #fff;
            height: 40px;
            border-radius: 20px;
            border:0;
            outline: 0;
            cursor: pointer;
            transition: background 1s;
        }
        
        .input-group{
            height: 280px;
        }
        
        .btn-field  .disable{
            background:#eaeaea ;
            color: #555;
        }
        
        
        
        
        /*Banner,Navigation*/

.master{
    width: 100%;
    height:85vh ;
    background-image: url("../Image/background-pic-02.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    padding-bottom: 100px;
}

.navigation{
    width: 100%;
    background-color:#0b0c0ccc ;
    position: fixed;

}

.nav-center{
    max-width: 1300px;
    margin: 0 auto;
}

.nav-center h1{
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    color: #fff;
}



.orange{
    color: #f23434;
}

.green{
    color: #03f598;
   
}

.nav-center ul{
    float: right;
}

.navigation ul li{
    float: left;
    list-style: none;
    font-weight: 500;
    padding: 15px 40px 0px 0px;
    padding-top: 12px;
    font-size: 1rem;
    font-weight: 700;
}

.icon{
    margin: 0;
    float: right;
    margin: 30px 10px 0px 0px;
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
}

#user{
    margin: 0;
    float: right;
    margin: 30px 10px 0px 0px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}
#user{
    color: #f23434;
 
}

a{
    color: #fff;
    text-decoration: none;
}

.fa{
    font-size: 30px;
    color: #fff; 
}

.banner{
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30vh;
    color: #fff;
}

.banner h3{
    color: #f23434;
    font-size: 1.4rem;
}

.banner h1{
    font-size: 3.5rem;
    letter-spacing: 5px;
    font-weight: 700;
    margin-top: 0;
    color: black;
}

.product{
    max-width: 1300px;
    padding: 100px 15px;
    margin: 0 auto;
}

.product h1{
    float: left;
    font-weight: 500;
    font-size: 2rem;
    color: rgb(56, 56,56);
}

.product h4{
    float:right ;
    font-weight: 700;
    color: #f23434;
}

.product hr{
    clear: both;
    height: 1px;
    background-color: rgb(219, 214, 214);
    border: none;
}

.product-list{
    width: 100%;
    padding-top: 30px;
}

.product-box{
    width: 26%;
    float: left;
    margin: 0 2%;
    padding-bottom: 15px;
    border: 1px solid rgb(219 , 214, 214);
}

.product-box h2{
    float: left;
    padding-left: 5%;
    font-weight: 500;
    color: #5c92b1;
    font-size: 1.3rem;
}

.pro-pic{
    margin-bottom: 10px;
    width: 100%;

}

.product-box h3{
    float: right;
    padding-right: 5%;
    color: rgb(71, 70, 70);
}

.product-box p{
    clear: both;
    padding: 0 10%;
    color: rgb(122, 120, 120);
    font-size: 1rem;
    line-height: 25px;
}

.five-star{
    float: left;
    font-size: 15px;
    padding: 10px 2px;
    color: #f23434;
}

.review{
    float: right;
    padding-right: 5px;
    margin-top: 10px;
    color: #f23434;
    font-weight: 800; 
}

.five-star1{
  margin-left: 5%;
}

                                  /* ABOUT */

.about{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.about h1{
    font-weight: 100;
    color: rgb(56 , 56, 56);
}

.about hr{
    height: 1px;
    border: none;
    background-color: rgb(214, 214, 218);
}

.about .left-box{
    float: left;
    width: 50%;
    padding-right:20px ;
}

.left-box h2{
    color: #5c92b1;
    font-weight: 100;
    margin-top: 0;
}

.left-box p{
    line-height: 25px;
    color: rgb(122, 120, 120);
    padding: 10 px 0 0 0;
}

.left-box a{
    color: cornflowerblue;
}

.btn{
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
    background-color: #f23434;
    border-radius: 5px;
    font-size: 1rem;
}
 
.left-box .feature{
    padding: 20px 0 0 0;
}

.left-box .feature li{
    padding: 10px;
    list-style: square;
    margin-left: 30px;
    color: rgb(56 , 56, 56);
}

.about .right-box{
    width: 50%;
    float: right;
}

.right-box .about-pic{
    width: 100%;
}

/*Purchase*/

.purchase{
    margin: 0 auto;
    max-width: 1300px;
    padding: 50px 15px;
}

.center{
    width: 100%;
    background-color: rgb(241, 243, 243);
    margin: 50px 0px;
}

.left{
    width: 70%;
    float: left;
    padding: 20px 0 20px 20px;
}

.left h2{
    color: #5c92b1;
}

.bold{
    font-weight: 600;
}

.left p{
    color: rgb(122, 120, 120);
}

.right{
    width: 30%;
    float: right;
    text-align: right;
    padding: 50px 20px 50px 0;
}

.purchase button{
    width: 140px;
    height: 40px;
    border: none;
    color: rgb(238, 237, 237);
    background-color: #f23434;
    border-radius: 5px;
    font-size: 1rem;
}

.purchase hr{
    height: 1px;
    border: none;
    background-color: rgb(214, 214, 218);
}

/*footer*/

.footer{
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding: 0 15px 50px 15px;
}

.footer p{
    font-size: 0.9rem;
}

/*media queries*/

@media only screen and (max-width:850px){
    .product-box h2{
        padding-left: 2%;
    }

    .product-box h3{
        padding-right: 2%;
    }

    .product-box p{
        padding: 2%;
    }
}

@media only screen and (max-width:768px){
    .navigation ul{
        position: absolute;
        display: none;
        top: 50px;
        padding-left: 20px;
    }

.form-box{
    width: 70%;
    height: 70vh;
}



    .icon{
        display: block;
    }
    a{
        color: #fff;
    }
    .banner h1{
        font-size: 2.2rem;
    }
    .banner{
        padding-top: 20%;
    }
    .product{
        padding: 50px 15px;
    }
    .product h1{
        text-align: center;
        float: none;
    }
    .product h4{
        text-align: center;
        float: none;
    }
    .product-box{
        width: 100%;
        margin: 25px 0;
    }        
    .product-box p{
        text-align: center;
    }
    .about h1{
        text-align: center;
    }
    .about .left-box{
        width: 100%;
        padding: 0 10px;
        margin-bottom: 50px;
    }
    .about .right-box{
        width: 100%;
        padding: 0 10px;
    }
     .left{
        width: 100%;
        text-align: center;
        padding: 10px 10px;
     }
     .right{
        width: 100%;
        text-align: center;
        padding: 10px 10px;
     }
     .right{
        padding: 20px 10px;
     }
}

@media only screen and (max-width:450px){
    .form-box h1 {
        font-size: 25px;
        margin-bottom: 40px;}
}
.input-field{
    max-height: 45px;
}
.input-group {
    height: 235px;
}


@media only screen and (max-width:375px){
  .navigation ul li{
    padding-right: 27px;
  }

  .about .right-box{
    width: 100%;
    padding: 0 2px;
    float: none;

}

.form-box{
    height: 50vh;
}

.btn-field button{
    height: 20px;
}

}
